<footer>
  <div class="footerFirstRow">
    <div class="footerImageContainer">
      <img class="footerImage" src="images/dplogo.png" />
    </div>
    <div class="footerHeadingAndLinks">
      <h4 class="footerHeading">MAKING YOU FALL IN LOVE WITH YOUR BUSINESS ALL OVER AGAIN WITH BESPOKE SERVICES</h4>
      <ul class="footerLinksContainer">
        <li class="footerLinks">
          <a href="#">About</a>
        </li>
        <li class="footerLinks">
          <a href="#">Instagram</a>
        </li>
        <li class="footerLinks">
          <a href="#">Book Now</a>
        </li>
        <li class="footerLinks">
          <a href="#">Services</a>
        </li>
        <li class="footerLinks">
          <a href="#">Portfolio</a>
        </li>
        <li class="footerLinks">
          <a href="#">Terms & Conditions</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footerSecondRow">
    <dv class="subscribeContainer">
      <label for="subscribe" class="subscribeLabel">Subscribe Now</label>
      <div class="inputAndButton">
        <input class="footerInput" type="email" id="subscribe" placeholder="Enter your email address" />
        <a href="#" class="viewWorkButton">Subscribe</a>
      </div>
    </dv>
  </div>
  <div class="copyRightSection">
    <hr class="customHr" />
    <div class="footerLastRow">
      <div class="terms">
        <a href="#" class="termsLink">Terms of Use</a>
        <div class="border"></div>
        <a href="#" class="termsLink">Privacy Policy</a>
      </div>
      <div class="copyRight">
        <p class="copyRightText">Copyright © 2024. All Rights Reserved.</p>
      </div>
      <div class="instagram">
        <a href="#" class="socialIcon">
          <i class='bx bxl-instagram'></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<script src="javascripts/index.js"></script>
</body>

</html>
