<%- include('./partials/head') %>
<div class="heroWrapper">
  <div class="heroSectionContainer">
    <div class="contentSide">
      <div class="logoContainer">
        <img class="companyLogo" src="images/dplogo.png" alt="Logo" />
      </div>
      <h1 class="mainHeading">EMPOWERING FOUNDERS
        BY CREATING a STRONG SOCIAL MEDIA PRESENCE TO ACHIEVE THEIR BUSINESS GOALS TOGETHER WITH LUXE BRANDING, WEBSITE DESIGN AND SOCIAL MEDIA MANAGEMENT</h1>
      <a class="ctaButton" href="/">
        <button class="heroButton">LET'S GROW YOUR BRAND NOW</button>
      </a>
    </div>
    <div class="gallerySide">
      <ul class="navButtons">
        <li class="navLiks">
          <a href="#" class="links">About</a>
        </li>
        <li class="navLiks">
          <a href="/services" class="links">Services</a>
        </li>
        <li class="navLiks">
          <a href="#" class="links">Portfolio</a>
        </li>
        <li class="BookNowButton">
          <a href="#" class="bookNowButtonLink">Book Now</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="greenRectangle"></div>
</div>
<div class="elevateSection">
  <div class="elevateTextSection">
    <h2 class="elevateText">IT MAKES US HAPPY TO SEE THAT YOU ARE READY TO ELEVATE YOUR BRAND AND EMERGE AS A STANDOUT AMIDST YOUR COMPETITORS</h2>
    <p class="elevateDescription">At the core of our approach to brand identity lies a commitment to crafting bespoke experiences that encapsulate the true essence of your business and services. By blending creativity with strategic intent, we aim to create a brand identity that not only stands out but also authentically reflects the unique qualities and offerings of your business, leaving a lasting impression on your customers. Moreover, we focus on creating intuitive and user-friendly experiences for website visitors and social media followers, optimizing navigation, layout, and interactions to enhance engagement and satisfaction.</p>
  </div>
</div>
<div class="brandDesignSection">
  <div class="topBanner">
    <h2 class="brandDesignHeading">Brand Design</h2>
    <div class="SliderButtonContainer">
      <div class="previous"><i class='bx bx-chevron-left'></i></div>
      <div class="next"><i class='bx bx-chevron-right'></i></div>
    </div>
  </div>
  <div class="displayBox">
    <div class="screen">
      <div class="textArea">
        <h3 class="screenHeading">Packages</h3>
        <p class="screenDescription">In the competitive landscape of today's business world, a strong brand design is essential for entrepreneurs aiming to differentiate themselves and make a lasting impression on their audience. By offering comprehensive brand design services, including logo design, color palette selection, brand elements, secondary logos, and customized social media templates, we empower entrepreneurs to establish a compelling brand presence that resonates with their target audience and sets them apart in the market.</p>
        <a href="#" class="inquireNowButton">inquire now</a>
      </div>
      <div class="screenImageContainer">
        <img class="screenImage" src="images/screen1.png" />
      </div>
    </div>
    <div class="screen">
      <div class="textArea">
        <h3 class="screenHeading">Packages 2</h3>
        <p class="screenDescription">In the competitive landscape of today's business world, a strong brand design is essential for entrepreneurs aiming to differentiate themselves and make a lasting impression on their audience. By offering comprehensive brand design services, including logo design, color palette selection, brand elements, secondary logos, and customized social media templates, we empower entrepreneurs to establish a compelling brand presence that resonates with their target audience and sets them apart in the market.</p>
        <a href="#" class="inquireNowButton">inquire now</a>
      </div>
      <div class="screenImageContainer">
        <img class="screenImage" src="images/screen1.png" />
      </div>
    </div>
    <div class="screen">
      <div class="textArea">
        <h3 class="screenHeading">Packages 3</h3>
        <p class="screenDescription">In the competitive landscape of today's business world, a strong brand design is essential for entrepreneurs aiming to differentiate themselves and make a lasting impression on their audience. By offering comprehensive brand design services, including logo design, color palette selection, brand elements, secondary logos, and customized social media templates, we empower entrepreneurs to establish a compelling brand presence that resonates with their target audience and sets them apart in the market.</p>
        <a href="#" class="inquireNowButton">inquire now</a>
      </div>
      <div class="screenImageContainer">
        <img class="screenImage" src="images/screen1.png" />
      </div>
    </div>
  </div>
  <div class="imageIndex">
    <p class="index">01/05</p>
  </div>
</div>
<div class="clientSection">
  <div class="clientGallery">
    <img src="images/client1.png" />
    <img src="images/client2.png" />
    <img src="images/client3.png" />
    <img src="images/client4.png" />
  </div>
  <div class="clientContent">
    <div class="clientBanner">
      <div class="smallhr"></div>
      <p class="clientText">Clients</p>
    </div>
    <h2 class="clientHeading">WE LOVE WORKING WITH</h2>
    <div class="clientDescription">
      <p>Entrepreneurs who don't just chase success, but strive to leave an indelible mark on the world. If you are passionate about making a difference, let's join forces and create waves of change together. P.S. Brownie points, more like a 5% discount if you are a woman-led business. </p>
      <p>Fashion Brands  || Wellness Spas/Coach  ||  Therapists  || Florists ||
        Aestheticians/Dermatologists ||  Interior Designers  || Event Planners ||
        Private Practitioners  ||  Health/Yoga Studios || Family Businesses</p>
    </div>
    <div class="margin">
      <a href="#" class="viewWorkButton">View our work</a>
    </div>
  </div>
</div>
<div class="featuredProductSection">
  <div class="featuredText">
    <h2 class="featuredHeading">Featured Projects</h2>
    <p class="featuredDescription">View some of our favourite projects with some of the best wedding photographers in the Indian wedding industry.</p>
    <a href="#" class="viewWorkButton">View our work</a>
  </div>
  <div class="featuredImageGallery">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/client1.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="images/client2.png" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="images/client3.png" class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="faceBehindSection">
  <div class="faceBehindImage">
    <img class="faceImage" src="images/face.png" />
  </div>
  <div class="faceBehindTextContent">
    <h2 class="faceBehindText">MEET THE FACE BEHIND
      DIGITALLY PHENOMENAL </h2>
    <p class="faceBehindDescription">Hi there, I'm Hamna, a fashion marketer and merchandiser by profession. As the creative force behind Digitally Phenomenal, our mission is to not only enhance your brand visibility and credibility with our services but also cultivate meaningful connections that translate into tangible business growth..
      By blending my expertise in design and marketing with my
      love for social media, I have transformed my dream into reality, shaping Digitally Phenomenal into a hub of innovative solutions for businesses seeking digital success.</p>
    <a href="#" class="viewWorkButton">View Portfolio</a>
  </div>
</div>
<div class="contactSection">
  <div class="contactTextContent">
    <p class="contactText">Learn more about the services and packages we offer including the investment and deliverables for each.</p>
  </div>
  <div class="contactForm">
    <h2 class="contactHeading">LETS BUILD SOMETHING GREAT TOGETHER</h2>
    <div class="input-field">
      <input class="contactInput" type="text" id="name" required />
      <label class="contactLabel" for="name">Name</label>
    </div>
    <div class="input-field">
      <input class="contactInput" type="text" id="email" required />
      <label class="contactLabel" for="email">Email</label>
    </div>
    <a href="#" class="viewWorkButton">Submit</a>
  </div>
</div>
<%- include('./partials/footer') %>
