<%- include('./partials/head') %>
<div class="heroWrapper">
  <div class="heroSectionContainer">
    <div class="contentSide">
      <div class="logoContainer">
        <img class="companyLogo" src="images/dplogo.png" alt="Logo" />
      </div>
      <h1 class="mainHeading">WE THRIVE ON YOUR LOVE FOR YOUR BUSINESS, LET’S GROW IT EVEN MORE</h1>
      <a class="ctaButton" href="/">
        <button class="heroButton">Explore More</button>
      </a>
    </div>
    <div class="serviceGallerySide">
      <ul class="navButtons">
        <li class="navLiks">
          <a href="#" class="links">About</a>
        </li>
        <li class="navLiks">
          <a href="#" class="links">Services</a>
        </li>
        <li class="navLiks">
          <a href="#" class="links">Portfolio</a>
        </li>
        <li class="BookNowButton">
          <a href="#" class="bookNowButtonLink">Book Now</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="greenRectangle"></div>
</div>
<div class="clientSection">
  <div class="faceBehindImage">
    <img class="faceImage" src="images/service-sec1.jpeg" />
  </div>
  <div class="clientContent">
    <div class="clientBanner">
      <div class="smallhr"></div>
      <p class="brandDesignText">Brand Design</p>
    </div>
    <div class="clientDescription">
      <p>Cohesive branding ensures consistency across all touchpoints, reinforcing your brand's credibility and resonance with your
        target market.</p>
      <ul class="brandDesignList">
        <li>60 minutes brainstorming session with the client for clarity</li>
        <li>Brand Logo (Primary & Secondary)</li>
        <li>Brand Marks & Colour Palette</li>
        <li>Brand Typography System</li>
        <li>Customized Social Media Templates & Launch Graphics</li>
        <li>Brand Mock-ups</li>
        <li>Moodboard for Image Direction</li>
        <li>Elaborated Brand Guidelines</li>
        <li>Letterhead and Business Card</li>
      </ul>
    </div>
    <div class="margin">
      <a href="#" class="viewWorkButton">Get Started</a>
    </div>
  </div>
</div>
<div class="featuredProductSection">
  <div class="featuredText">
    <div class="clientBanner">
      <div class="smallhr"></div>
      <p class="brandDesignText">Website design</p>
    </div>
    <p class="">Your website serves as your virtual store-front, making a strong first impression on potential customers. You want a website which accurately reflects your brand identity and business, creating a seamless and authentic online experience.</p>
    <ul class="brandDesignList">
      <li>Fully Customized Website (using HTML, CSS, Javascript)</li>
      <li>Blog Design Setup</li>
      <li>CMS Development (Wordpress, Shopify & etc.)</li>
      <li>Services/Products Listing</li>
      <li>Design Mockups on Figma</li>
      <li>Homepage & About Us Page</li>
      <li>SEO Titles & Description </li>
      <li>Image Selection/Stock Photography Curation</li>
      <li>Domain Transfer</li>
      <li>Copy Execution </li>
      <li>Automation</li>
      <li>Deployment Services (making the website live)</li>
    </ul>
    <a href="#" class="viewWorkButton">Get Started</a>
  </div>
  <div class="featuredImageGallery">
    <img class="faceImage" src="images/service-sec2.png" />
  </div>
</div>
<div class="clientSection">
  <div class="faceBehindImage">
    <img class="faceImage" src="images/service-sec3.jpeg" />
  </div>
  <div class="clientContent">
    <div class="clientBanner">
      <div class="smallhr"></div>
      <p class="brandDesignText">Social Media
        Management</p>
    </div>
    <div class="clientDescription">
      <p>Your goal extends beyond merely gaining followers;
        you strive to cultivate a community that aligns with
        your brand identity and engages meaningfully with
        your content.</p>
      <ul class="brandDesignList">
        <li>Content Creation</li>
        <li>Engagement and Growth</li>
        <li>Hashtag Research</li>
        <li>Analytics Tracking</li>
        <li>Trend Monitoring</li>
        <li>Platform Optimization</li>
        <li>Collaboration Outreach</li>
        <li>Content Calendar Management</li>
      </ul>
    </div>
    <div class="margin">
      <a href="#" class="viewWorkButton">Get Started</a>
    </div>
  </div>
</div>
<div class="testimonialSection">
  <div class="cards">
    <div class="card">
      <div class="card__infos">
        <p class="card__title">WE LOVE WORKING WITH</p>
        <p class="card__author">Entrepreneurs who don't just chase success, but strive to leave an indelible mark on the world. If you are passionate about making a difference, let's join forces and create waves of change together. P.S. Brownie points, more like a 5% discount if you are a woman-led business. </p>
        <div class="clientBannerTestimonial">
          <div class="smallhrTestimonial"></div>
          <h3 class="card__name">Client Name</h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__infos">
        <p class="card__title">WE LOVE WORKING WITH</p>
        <p class="card__author">Entrepreneurs who don't just chase success, but strive to leave an indelible mark on the world. If you are passionate about making a difference, let's join forces and create waves of change together. P.S. Brownie points, more like a 5% discount if you are a woman-led business. </p>
        <div class="clientBannerTestimonial">
          <div class="smallhrTestimonial"></div>
          <h3 class="card__name">Client Name</h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__infos">
        <p class="card__title">WE LOVE WORKING WITH</p>
        <p class="card__author">Entrepreneurs who don't just chase success, but strive to leave an indelible mark on the world. If you are passionate about making a difference, let's join forces and create waves of change together. P.S. Brownie points, more like a 5% discount if you are a woman-led business. </p>
        <div class="clientBannerTestimonial">
          <div class="smallhrTestimonial"></div>
          <h3 class="card__name">Client Name</h3>
        </div>
      </div>
    </div>
    <div class="card" active>
      <div class="card__infos">
        <p class="card__title">WE LOVE WORKING WITH</p>
        <p class="card__author">Entrepreneurs who don't just chase success, but strive to leave an indelible mark on the world. If you are passionate about making a difference, let's join forces and create waves of change together. P.S. Brownie points, more like a 5% discount if you are a woman-led business. </p>
        <div class="clientBannerTestimonial">
          <div class="smallhrTestimonial"></div>
          <h3 class="card__name">Client Name</h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__infos">
        <p class="card__title">WE LOVE WORKING WITH</p>
        <p class="card__author">Entrepreneurs who don't just chase success, but strive to leave an indelible mark on the world. If you are passionate about making a difference, let's join forces and create waves of change together. P.S. Brownie points, more like a 5% discount if you are a woman-led business. </p>
        <div class="clientBannerTestimonial">
          <div class="smallhrTestimonial"></div>
          <h3 class="card__name">Client Name</h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__infos">
        <p class="card__title">WE LOVE WORKING WITH</p>
        <p class="card__author">Entrepreneurs who don't just chase success, but strive to leave an indelible mark on the world. If you are passionate about making a difference, let's join forces and create waves of change together. P.S. Brownie points, more like a 5% discount if you are a woman-led business. </p>
        <div class="clientBannerTestimonial">
          <div class="smallhrTestimonial"></div>
          <h3 class="card__name">Client Name</h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__infos">
        <p class="card__title">WE LOVE WORKING WITH</p>
        <p class="card__author">Entrepreneurs who don't just chase success, but strive to leave an indelible mark on the world. If you are passionate about making a difference, let's join forces and create waves of change together. P.S. Brownie points, more like a 5% discount if you are a woman-led business. </p>
        <div class="clientBannerTestimonial">
          <div class="smallhrTestimonial"></div>
          <h3 class="card__name">Client Name</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faqSection">
  <div class="faqTextSide">
    <h2 class="faqText">Frequently
      Asked
      Questions</h2>
  </div>
  <div class="accordianSide">
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header">
          <span class="accordion-item-header-title">Entrepreneurs who don't just chase success, but strive to leave an indelible. </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down accordion-item-header-icon">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </div>
        <div class="accordion-item-description-wrapper">
          <div class="accordion-item-description">
            <hr>
            <p>This is the description for Accordion Item 1. This is the description for Accordion Item 1.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header">
          <span class="accordion-item-header-title">Accordion Item 2</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down accordion-item-header-icon">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </div>
        <div class="accordion-item-description-wrapper">
          <div class="accordion-item-description">
            <hr>
            <p>This is the description for Accordion Item 2. This is the description for Accordion Item 2. This is the description for Accordion Item 2. This is the description for Accordion Item 2.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header">
          <span class="accordion-item-header-title">Accordion Item 3</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down accordion-item-header-icon">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </div>
        <div class="accordion-item-description-wrapper">
          <div class="accordion-item-description">
            <hr>
            <p>This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header">
          <span class="accordion-item-header-title">Accordion Item 3</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down accordion-item-header-icon">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </div>
        <div class="accordion-item-description-wrapper">
          <div class="accordion-item-description">
            <hr>
            <p>This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-item-header">
          <span class="accordion-item-header-title">Accordion Item 3</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down accordion-item-header-icon">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </div>
        <div class="accordion-item-description-wrapper">
          <div class="accordion-item-description">
            <hr>
            <p>This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>
